<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.proglovving.dilin">
    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.activity.ShowWordActivity"></activity>
        <activity android:name=".views.activity.DevTestActivity" />
        <activity android:name=".views.activity.DictionarySearchActivity"></activity>
        <activity
            android:name=".views.activity.DonateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activity.SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activity.ShowWordsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activity.ProgrammerAboutUsActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".widgets.ShowWordsWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/show_words_widget_info" />
        </receiver>

        <receiver android:name=".views.fragment.BookmarkedWordsFragment$BookmarksReceiver">
            <intent-filter>
                <action android:name="ir.proglovving.dilin.refreshBookmarkedFragment"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".views.fragment.ShowNoteBooksFragment$UpdateNotebooksBroadcast"/>

    </application>

</manifest>